* {
  box-sizing: border-box;
  color: white;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: rgb(3, 107, 82);
  border: 1px solid white;
  border-left: none;
  border-right: none;
  border-top: none;
  box-shadow: 0 0 1em black;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.score-header {
  font-size: 15px;
  height: 100%;
}

.player-name {
  font-size: 15px;
}

.questions-container {
  padding-top: 30px;
  text-align: center;
}

.timer {
  font-size: 30px;
  padding: 15px;
}

.category {
  font-size: 15px;
  padding: 20px;
}

.question {
  font-size: 15px;
  padding: 20px;
}

.answers {
  font-size: 15px;
  padding: 20px;
}

.answer {
  font-size: 15px;
  padding: 5px;
}

.button-next {
  font-size: 15px;
  padding: 5px;
}
