* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  align-items: center;
  background-color: rgb(3, 107, 82);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.score-header {
  font-size: 30px;
  height: 100%;
}

.player-name {
  font-size: 30px;
}

.questions-container {
  padding-top: 30px;
  text-align: center;
}

.timer {
  font-size: 30px;
  padding: 30px;
}

.category {
  font-size: 30px;
  padding: 30px;
}

.question {
  font-size: 30px;
  padding: 30px;
}

.answers {
  font-size: 30px;
  padding: 30px;
}

.answer {
  font-size: 15px;
  height: 50px;
  padding: 5px;
  width: 250px;
}

.button-next {
  font-size: 20px;
  padding: 5px;
}
