body {
  margin: 0;
}

.login-container {
  align-items: center;
  background: #036b52;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.login {
  align-items: center;
  border: 2px solid white;
  border-radius: 5%;
  box-shadow: 0 0 1em black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  width: 40%;
}

label {
  font-size: large;
  font-weight: 600;
  padding: 3px;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  width: 100%;
}

button {
  background-color: gray;
  border: 0;
  border-radius: 5px;
  color: white;
  height: 30px;
  margin: 2px;
  width: 100px;
}

.play {
  margin-left: 45px;
}

input {
  border: 0;
  border-radius: 5px;
  height: 25px;
  width: 300px;
}

button:hover {
  background-color: aliceblue;
  color: #036b52;
}

button:active {
  background-color: aliceblue;
  box-shadow: 0 0 1em black;
  color: #036b52;
}
